<!-- $Revision: 3394 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> Subscribers</TITLE>
  
  </HEAD>
  <BODY>
  <MM-HCS-HEADER>
  <center><p><h1><MM-List-Name> Subscribers</h1></p>
  <P>Click on your address to visit your subscription options page.<br />
  <I>(Parenthesized entries have list delivery disabled.)</I></P></center>
    <P>
    <TABLE id=publiclists WIDTH=98% BORDER=0 CELLSPACING=0 CELLPADDING=2 align=center>
      <TR class=first>
      <TD BGCOLOR=#3d80df WIDTH=50%>
      <center>
        <B><MM-Num-Reg-Users>
          Non-digested Members of <MM-List-Name></B>
      </center>
    </TD>
    <TD BGCOLOR=#3d80df WIDTH=50%>
      <center>
        <B><MM-Num-Digesters> Digested
          Members of <MM-List-Name></B>
      </center>
    </TD>
      </TR>
      <TR VALIGN="top" class=unshaded>
    <td>
      <P><MM-Regular-Users>
    </td>
    <td>
      <P><MM-Digest-Users>
    </td>
      </tr>
    </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
