HCS Account Information
-----------------------

Hello! We have created a mysql database for you!

This document contains some basic information about how to use this
service.  If you have any questions at all, don't hesitate to contact
us at <help@hcs.harvard.edu> or to stop by our office hours. Our office
hours schedule is available at <http://www.hcs.harvard.edu/events>.

First, HCS runs a useful tool called phpMyAdmin at
https://www.hcs.harvard.edu/phpmyadmin/. You can view and modify many
of your database settings here.

You can also access your MySQL database from the command line by
typing mysql -h mysql -u $username -p $database at the command
prompt. At the enter password prompt, type in your password:
$password

Some settings you would use in connecting to the database in a php script:
DB = $database
DBUSER = $username
DBPASS = $password
DBSERVER = mysql.hcs.harvard.edu

Again, if you have any questions or concerns, don't hesitate to
contact us. Enjoy your new account!
