HCS Account Information
-----------------------

Welcome to HCS! We're glad to have you on board. 

This document contains some basic information about your HCS account.
If you have any questions at all, don't hesitate to contact us at
<acctserv@hcs.harvard.edu> or to stop by our office hours.  Office
hours are listed at http://www.hcs.harvard.edu/events.

Email: Group addresses on the hcs machine are group@hcs.harvard.edu.
We recommend alpine for reading mail, though you might prefer mutt if
you take the time to learn it. You can also forward mail to other
accounts. See www.hcs.harvard.edu/tutorials for details.

Disk Space: 2 gigabytes is the default quota for groups on hcs.

Mailing Lists, WWW, and other services: All of these are dealt with in
separate documents. You've received another email with information
about how to set up your group's web site. For other questions, please
see our FAQ at http://www.hcs.harvard.edu/faq and our tutorials at
http://www.hcs.harvard.edu/tutorials.

Again, if you have any questions or concerns, don't hesitate to
contact us. Enjoy your new account!
