###############################################################################
###                   HCS Mailman webserver configuration                   ###
###############################################################################
#
# This file contains all of the access modifications and the vhost for mailman
#

# This is our lists virtual host.
<VirtualHost *:443>
  ServerName lists.hcs.harvard.edu
  ServerAlias lists.<%= @domain %>
  
  # Always canonicalize host to lists.hcs.harvard.edu
  RewriteEngine  On
  RewriteOptions Inherit
  RewriteCond %{HTTP_HOST} !^lists\.hcs\.harvard\.edu$ [NC]  # [NC]: case-insensitive
  RewriteRule ^/(.*) https://lists.hcs.harvard.edu/$1 [R=301,L]
  UseCanonicalName On
  
  DocumentRoot /var/www/
  ServerAdmin webmaster@hcs

  SSLEngine               on
  SSLCertificateFile      /etc/ssl/certs/hcs_harvard_edu_cert.cer
  SSLCertificateKeyFile   /etc/ssl/private/hcs_harvard_edu.key
  SSLCertificateChainFile /etc/ssl/certs/hcs_harvard_edu_interm.cer
  SSLProtocol             all -SSLv2 -SSLv3
  SSLCipherSuite          ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA
  SSLHonorCipherOrder     on
  
  Alias /pipermail/ /var/lib/mailman/archives/public/
  ScriptAlias /mailman/ /usr/lib/cgi-bin/mailman/

  # With mailman modifications, misses won't bring down the server
  RedirectMatch ^/(?!pipermail/)(?!mailman/)(?!icons/)(?!static)(?!robots.txt)(?!favicon.ico)(?!index.html)(.*) https://lists.hcs.harvard.edu/mailman/listinfo/$1

  <Directory "/var/www/">
    Require all granted
  </Directory>

  # This is the directory seen as pipermail, which everyone whould be able to see.
  # Note that it is actually the stuff down one more directory level that is seen.
  #
  <Directory "/var/lib/mailman/archives/public">
    Options FollowSymlinks
    AllowOverride all
    Require all granted
  </Directory>

  # We want to prevent outside sites from seeing the list of publicly available
  # lists, as spammers will abuse it if they can see it.
  #
  <LocationMatch "^/mailman/(listinfo|admin)/?$">
    ErrorDocument 403 "This page can only be accessed within the Harvard network or through the <a href=\"https://vpn.harvard.edu/\">Harvard VPN</a>."
    Require ip 140.247.0.0/16 128.103.0.0/16 65.112.10.0/23 65.112.8.0/23 67.134.206.0/24
  </LocationMatch>
</VirtualHost>

